
Data/CIFAR10/

Data/CIFAR100/

Data/FMNIST/t10k-images-idx3-ubyte\.gz

Data/FMNIST/t10k-labels-idx1-ubyte\.gz

Data/FMNIST/train-images-idx3-ubyte\.gz

Data/FMNIST/train-labels-idx1-ubyte\.gz

Data/MNIST/t10k-images-idx3-ubyte\.gz

Data/MNIST/t10k-labels-idx1-ubyte\.gz

Data/MNIST/train-images-idx3-ubyte\.gz

Data/MNIST/train-labels-idx1-ubyte\.gz

__pycache__/

RunData/
